.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper{
    font-family: Arial, Helvetica, sans-serif;
    background: #777;
    width: 100%;
    margin: 0;

}

.content{
    background: #ebebeb;
    width: 960px;
    color: #777;
    height: 40px;
    padding: 25px;
    position: relative;
}

header{
    top: 10px;
    color: #777;
    background: #ebebeb;
    width: 960px;
    margin-top: 0;
    margin-left: 70px;
    margin-right: 70px;
    padding: 35px;
    text-align: center;
}

nav{
    color: #777;
    background: #ebebeb;
    width: 960px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 35px;
    text-align: center;
    margin-top: 20px;

}

#section{
    width: 495px;
    background: #ebebeb;
    color: #777;
    float: left;
    margin-top: 20px;
    width: 495px;
    height: 175px;

}

aside{
    color: #777;
    background: #ebebeb;
    width: 250px;
    height: 175px; 
    float: left;
    margin-left: 25px;    
}

footer{
    color: #777;
    background: #ebebeb;
    margin-left: 70px;
    margin-right: 70px;
    padding: 35px;
    text-align: center;
    bottom: 35px;
}