.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    text-align: center;

}

header{
    background: #ebebeb;
    width: 960px;
    margin-top: 15px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 35px;
    text-align: center;
}

nav{
    background: #ebebeb;
    width: 960px;
    margin-top: 15px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 35px;
    margin-top: 20px;
    text-align: center;
}

section{
    background: #ebebeb;
    margin-top: 20px;
    width: 495px;
    height: 275px;
    margin-left: 70px;
    float: left;

}

#article{
    background: #777;
    color: #ebebeb;
    margin-top: 40px;
    width: 450px;
    margin-left: 20px;
    height: 185px;
    float: left;

}

#headline{
    float: left;
    width: 425px;
    margin-left: 15px;
    height: 55px;
    color: #777;

}

#p{
    float: left;
    width: 425px;
    margin-left: 15px;
    height: 55px;
    color: #777;
}

#aside{
    background: #ebebeb;
    color: #777;
    width: 495px;
    height: 275px; 
    float: left;
    margin-left: 40px; 
    margin-top: 20px;

}

footer{
    background: #ebebeb;
    width: 960px;
    margin-top: 315px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 35px;
    text-align: center;

}
